/* 全要素に対する適応 */
* {
    /* 外余白なし */
    margin: 0;
    /* 内余白なし */
    padding: 0;
    /* ブラウザ間で違う、幅・高さの計算方式を統一 */
    box-sizing: border-box;
}

/* -------------------------------------------------------- *
 *  共通色
 * -------------------------------------------------------- */

:root {
    --bgcolor-title: #282c34;
    --txcolor-title: white;

    --bgcolor-primary: #46b3e6;
    --bgcolor-primary-active: #61dafb;
    --txcolor-primary: #ffffff;
    --bgcolor-secondary: #dddddd;
    --txcolor-secondary: #000000;
    --bgcolor-teriary: #007F73;
    --txcolor-teriary: #ffffff;
}

/* -------------------------------------------------------- *
 *  共通スタイル（要素指定）
 * -------------------------------------------------------- */

/**
 * ボタン
 */
button {
    padding: 3px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;

    /* 通常ボタンの色装飾 */
    color: black;
    background: #dddddd;
    &:hover {
        background: #61dafb;
    }
    /* 非活性ボタンの色装飾 */
    &:disabled {
        color: #888888;
        background: #eeeef5;
        cursor: default;
        &:hover {
            background: default;
        }
    }
    /* primaryボタンの色装飾 */
    &.primary {
        color: var(--txcolor-primary);
        background: var(--bgcolor-primary);
        &:hover {
            background: var(--bgcolor-primary-active);
        }
    }
    /* secondaryボタンの色装飾 */
    &.secondary {
        color: var(--txcolor-secondary);
        background: var(--bgcolor-secondary);
        &:hover {
            background: var(--bgcolor-primary-active);
        }
    }

}

label {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], select {
    padding: 5px;
}

input[type="checkbox"], input[type="radio"] {
    margin-left: 2px;
    margin-right: 2px;
}

.field-row {
    padding: 5px;    
}
.field-label {
    display: inline-block;
    text-align: center;
}

/*
 * テーブル
 */
table {
    /* 枠線＝隣接要素間で重ねる */
    border-collapse: collapse;
    /* 枠線装飾 */
    border: solid 1px #cccccc;
}
th, td {
    /* 枠線装飾 */
    border: solid 1px #cccccc;
    /* 内余白 */
    padding: 2px 5px;
}

/**
 * ダイアログ
 */
dialog {
    position: fixed;
    max-height: 80vh;
    max-width: 90vw;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);

    border: 0;
    border-radius: 0.2rem;
    box-shadow: 0 0 1em black;
}

/* ダイアログ背景 */
dialog::backdrop {
    /* 背景を半透明のブラックにする */
    background-color: rgba(0, 0, 0, 0.4);
}

/* ダイアログヘッダ */
.dialog-header {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    
    background: var(--bgcolor-title);
    color: var(--txcolor-title);
}
/* ダイアログヘッダ-タイトル */
.dialog-header-title {
    font-size: 20px;
    font-weight: normal;
    
    line-height: 40px;
    display: inline-block;
    flex-grow: 1;
}

/* ダイアログヘッダ-閉じるボタン */
.dialog-header-close {
    line-height: 40px;
    margin-right: 10px;
    color: #888;
    text-align: right;
    cursor: pointer;
    font-size: 40px;

    &::after {
        content:'×';
    }
    &:hover {
        color: #eee;
    }
}

/* ダイアログ-コンテンツ */
.dialog-content {
    padding: 10px;
}

/* ダイアログ-下部ボタン */
.dialog-command {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.message-caption {
    font-weight: bold;;
}

.message-info {
    color: #055160;
    background-color: #cff4fc;
    line-height: 16px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}
.message-error {
    color: #58151c;
    background-color: #f8d7da;
    line-height: 24px;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    
    ul {
        margin-top: 5px;
    }
    li {
        margin-left: 20px;
    }
}
