/* 全要素に対する適応 */
* {
    /* 外余白なし */
    margin: 0;
    /* 内余白なし */
    padding: 0;
    /* ブラウザ間で違う、幅・高さの計算方式を統一 */
    box-sizing: border-box;
}

/* -------------------------------------------------------- *
 *  共通スタイル
 * -------------------------------------------------------- */

/**
 * ボタン
 */
button {
    padding: 3px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;

    /* 通常ボタンの色装飾 */
    color: black;
    background: #dddddd;
    &:hover {
        background: #61dafb;
    }
    /* 非活性ボタンの色装飾 */
    &:disabled {
        color: #888888;
        background: #eeeef5;
        cursor: default;
        &:hover {
            background: default;
        }
    }
    /* primaryボタンの色装飾 */
    &.primary {
        color: white;
        background: #46b3e6;
        &:hover {
            background: #61dafb;
        }
    }
    /* secondaryボタンの色装飾 */
    &.secondary {
        color: #000;
        background: #dddddd;
        &:hover {
            background: #61dafb;
        }
    }

}

label {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], select {
    padding: 5px;
}

/*
 * テーブル
 */
table {
    /* 枠線＝隣接要素間で重ねる */
    border-collapse: collapse;
    /* 枠線装飾 */
    border: solid 1px #cccccc;
}
th, td {
    /* 枠線装飾 */
    border: solid 1px #cccccc;
    /* 内余白 */
    padding: 2px 5px;
}

