  /* -------------------------------------------------------- *
   * Utility
   * -------------------------------------------------------- */
  
  /* グリッドレイアウト */
  .col-1 { width: calc(64px * 1); }
  .col-2 { width: calc(64px * 2); }
  .col-3 { width: calc(64px * 3); }
  .col-4 { width: calc(64px * 4); }
  .col-5 { width: calc(64px * 5); }
  .col-6 { width: calc(64px * 6); }
  .col-7 { width: calc(64px * 7); }
  .col-8 { width: calc(64px * 8); }
  .col-9 { width: calc(64px * 9); }
  .col-10 { width: calc(64px * 10); }
  .col-11 { width: calc(64px * 11); }
  .col-12 { width: calc(64px * 12); }
  
  /* 文字位置 */
  .text-left   { text-align: left; }
  .text-center { text-align: center; }
  .text-right  { text-align: right; }
  