.condition {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.list {
    margin-top: 10px;
}
.list-nav {
    display: flex;
    flex-direction: row;
    width: 800px;
}

.list-pages {
    flex-grow: 1;
}

.list-cmd {
    width: 100px;
}

table {
    width: 800px;
}

.skill-type {
    font-size: 12px;
}

